PORT=5000
MONGO_URI=mongodb://localhost:27017/recspicy
JWT_SECRET=recspicy_jwt_secret_key_2025
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
NUTRITION_APP_ID=your_edamam_app_id_here
NUTRITION_APP_KEY=your_edamam_app_key_here
CLIENT_ORIGIN=http://localhost:5000
